.header{
     padding:1px;
     color:white;
     background-color: black;
     text-align: center;
     border-radius: 30%;
     margin-left: 5%;
     margin-right: 5%;

}
.div1{
    background:white;
}
.image1{
   position: relative;
   left:40%;

  border-radius: 30%;
  }

.image2{
    width:30px;
    height:30px;

  }
  .image3{
    width:30px;
    height:30px;
    margin-left: 70%;
  }
.h1{
  background-color: black;
  color:white;
  text-align: center;
  font-family: inherit;
  font-size:50px;
  padding: 3px;
  word-spacing: 5px;
  margin-top: 0px;
}
.h2{
   background-color: black;
   color: white;
   padding:1px;
   text-align: center;
}
.h4{
   margin-left:83%;
}
.div2{
   background-color: black;
   color:white;
  center
   font-size: 20px;
   padding:2px;
}
.para{
     margin-left: 30%;
}
.footer{
  background-color: black;
  color:white;
  text-align: center;
 height:50px;
 padding:2px;

}
.adress{
   float:left;
   width:auto;
}
a:link {
     background-color:red;
     color:white;
     padding:5px;
     text-decoration: none;
     border-radius:10px;
     border: 2px solid white;

}

a:hover {
     background-color:green;
}
